@-webkit-keyframes expand {
   from { -webkit-transform: scaleY(0.2); }
   to   { -webkit-transform: scaleY(1.0); }
}

.anonymous {
	margin-top: 10px;	
}

#favoriteForm {
	float: right;
	padding-right: 8px;
}

.profile_section h3 {
	color: #959595;
	margin-top: 12px;
	margin-bottom: 8px;
	margin-left: 10px;
	font-size: 12px;
}

#profile_right .reviews-list-item {
	margin-top: 8px;
	margin-bottom: 8px;
}

#profile_right #comments .reviews-list {
	padding-top: 0px;
}

.profile_header {
	margin-left: 8px;
	margin-top: 12px;
}

.profile_section {
	background-color: white;
}

.profile_header h3 {
	color: #959595;
	font-size: 16px;
	float: left;
	margin-top: 120px;
	margin-left: 12px;	
}

.profile_header .points {
	background: -webkit-gradient(linear, center top, center bottom, from(#969696), to(#A5A5A5));
	-webkit-box-shadow: 1px 1px 0 0 rgba(140, 140, 140, 0.5);
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	float: left;
	margin-left: 10px;
	margin-top: 118px;
	border-radius: 4px;
}

.profile_header .profile_pic {
	float: left;
}

.profile_header .profile_pic ._pm_container {
	float: none;
}

#profile_left ._pm_container {
	float: none;
}

.favorites {
	float:left;
	margin-left: 6px;
}

.favorites .profile_pic {
	margin-left: 4px;
	margin-right: 4px;
}

.favorites .profile_pic span.name {
	display: block;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}

.favorites .profile_pic span.name a {
	color: #959595;
}
		
#login .profile_pic span.name {
	display: block;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}

#login .profile_pic span.name a {
	color: #959595;
}

#profile_left .profile_pic {
	float: left;
}

.loginFormLabel {
	color: #B9B9B9;
	padding-top: 12px;
}

#logoutForm {
	margin-left: 8px;
	float: left;
}

#profile_left #login  {
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	padding-top: 12px;
}
	 
#profile_right .reply-list .reply-list-item .collapsed::after{
	    content:none;
}

#profile_right .reviews-list .reviews-list-item .collapsed::before{
	    content:none;
}

#profile_right .collapsed {
	    padding-top: 2px;
	    padding-bottom: 2px;
	    margin-top: 1px;
	    margin-bottom: 1px;
}

.reply-list .reply-list-item .bubble::before{
	    content:none;
}

.reply-list .reply-list-item .bubble::after{
	    content: ' ';
	    position: absolute;
	    width: 6px;
	    height: 9px;
	    left: 445px;
	    top: 10px;
	    background: transparent url(review_bubble_arrow-right.png) no-repeat;
}

.reply-list .reply-list-item .profile_pic {
		 float: right;
}

.reply-list-item {
		 margin-left: 88px;
		 margin-top: 10px;
}

.reply-list .reply-list-item .bubble {
		 float: left;
		 width: 426px;
		 padding-bottom: 6px;
		 padding-top: 6px;
}

#profile_right .reply-list-item p.message {
		 font-size: 11px;
}

#profile_right .reply-list .reply-list-item .like {
		 font-size: 10px;
}

#profile_right .reply-list .reply-list-item .date {
		 font-size: 10px;
}

#comments>#replyForm {
	display: none;
}

#commentForm {
	margin-right: 10px;
}

#commentForm textarea {
	width: 100%;
}

#replyForm form {
	margin-right: 10px;
}

#replyForm textarea {
	width: 100%;
}

#profile_container .bubble .like {
	float: left;
	margin-top: 5px;
	color: #B9B9B9;
	font-size: 12px;
}