<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<listener>
		<listener-class>com.velik.comments.servlet.ContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>AuthenticationService</servlet-name>
		<servlet-class>com.velik.comments.servlet.AuthenticationService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuthenticationService</servlet-name>
		<url-pattern>/service/auth/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CommentListService</servlet-name>
		<servlet-class>com.velik.comments.servlet.CommentListService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CommentListService</servlet-name>
		<url-pattern>/service/comments/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProfileService</servlet-name>
		<servlet-class>com.velik.comments.servlet.ProfileService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProfileService</servlet-name>
		<url-pattern>/service/profile/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProfilePage</servlet-name>
		<servlet-class>com.velik.comments.servlet.ProfilePage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProfilePage</servlet-name>
		<url-pattern>/profile/*</url-pattern>
	</servlet-mapping>
</web-app>
 