<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<listener>
		<listener-class>com.velik.comments.servlet.ContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>Authentication</servlet-name>
		<servlet-class>com.velik.comments.servlet.AuthenticationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Authentication</servlet-name>
		<url-pattern>/service/auth/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CommentList</servlet-name>
		<servlet-class>com.velik.comments.servlet.CommentListServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CommentList</servlet-name>
		<url-pattern>/service/comments/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>com.velik.comments.servlet.ProfileServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/service/profile/*</url-pattern>
	</servlet-mapping>
</web-app>
 